.fotonews {
    height: auto;
    width: 500px;
    display: block;
    margin: 0 auto;
}

.loadMore {
    display: block;
    margin: 0 auto;
    padding: 8px 60px;
    border: none;
    background-color: rgba(54, 32, 32, 0.8);
    color: #a6eaf5;
    font-size: 26px;
   // @include border-radius;
}