@import "./SearchForm.module.css";

.form {
  display: flex;
  max-width: 800px;
  padding: 15px;
  outline-style: none;
  border: 1px solid green;
  border-radius: 2px;
  background-color: rgb(66, 90, 89);
  margin: 40px auto;

  & > .label {
    margin-bottom: 10px;
  }
}

.inputform {
  font-size: 16px;
  width: 421px;
  outline: none;
}

.submit {
  display: block;
  margin: 0 20px;

  padding: 8px 60px;
  border: none;
  background-color: rgba(54, 32, 32, 0.8);
  color: #a6eaf5;
  font-size: 16px;
  @include border-radius;
}
